.price {
  &__title {
    margin-right: 62px;

    font-size: 11px;
    font-family: inherit;
    font-weight: 400;
  }

  &__amount {
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
  }
}
