.product {
  display: grid;

  padding: 15px 14px;
  background-color: #fff;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__photo {
    justify-self: center;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 5px;

    font-size: 12px;
    line-height: 15.5px;
    font-weight: 500;
    font-family: inherit;
  }

  &__code {
    margin-bottom: 15px;

    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    font-family: inherit;
  }

  &__raiting {
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    margin-bottom: 20px;
  }

  &__price {
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: baseline;
    margin-bottom: 20px;
  }
}
